body {
  background-color: #bdc3c7;
  background-image: url('../img/01_packed_hall.jpg')
}
header{
  padding: 0 50px 0 50px;
  height: 60px;
  background-color: #1abc9c;
  line-height: 60px;
}
.logo{
  font-family: 'Leckerli One', cursive;  
  font-weight: normal;
  margin: 0;
  padding: 0;
  font-size: 1.8em;
  line-height: 60px;
}
header nav {
  float: right;
  height: inherit;
  padding: 0;
  margin: 0;
}
header a {
  font-size: 1.5em;
  font-weight: bold;
  color: #ecf0f1;
  padding: 0;
  margin: 0;
  text-decoration: none;
}
header a:hover{
  color: orange;
  transition: color 0.5s linear;
}
header nav ul{
  line-height: 60px;
  padding: 0;
  margin: 0;
  list-style: none;
}
header nav li{
  float: left;
  line-height: 60px;
  padding: 0;
  margin: 0 10px 0 10px;

}
.container {
  position: relative;
  margin: 20px auto 0 auto;
  width: 600px;
  padding: 20px 20px 20px 20px;
  border-radius: 10px;
  z-index: 1;
  background-color: rgba(236, 241, 240, 0.8)
}

.container li {
  list-style-type: none;
  margin-bottom: 15px;
}

.container a {
  text-decoration: none;
  color: black;
}

/*'transition' needed for animation, 'all' refers
to all properties in #create-survey:hover a*/
#create-survey {
  font-family: 'Leckerli One', cursive;
  text-align: center;
  font-size: 2em;
  transition: all 0.3s;
}

#create-survey:hover {
  letter-spacing: 5px;
  font-size: 2.2em;
}

#create-survey:hover a{
  text-shadow: 0px 2px 5px #1abc9c;
  transition: text-shadow 0.3s linear;
}

th {
  text-align: left;
}

.signup{
  text-align: center;
}

input{
  border-radius: 5px;
  border: 1px gray solid;
  padding: 5px;

}
input.button:hover{
  color: #ecf0f1;
  background-color: #1abc9c;
}


.form_questions {
  text-align: center;

}

.choices {
  display: block;
  text-align: left;
  width: 20%;
  margin: 0 auto;
  border-radius: 8px;
  margin-bottom: 5px;
  background-color: lightgreen;
  padding-left: 5px;
}


.header {
  font-family: 'Leckerli One', cursive; 
  font-size: 2em; 
  text-align: center;
}

.survey-container {
  text-align: center;
  padding: 0px 10px;
}

textarea {
  border-radius: 8px;
}

#create-button {
  transition: all 0.3s;
}

#create-button:hover {
  font-size: 150%;
  font-family: 'Leckerli One', cursive; 
  color: white;
  background-color: #1abc9c;
}
