<form action="/users" method="POST" class='signup'>
  <h1>Sign Ups</h1>
  <p><input type="text" name="user[name]" placeholder="name"/></p>
  <p><input type="email" name="user[email]" placeholder="email"/></p>
  <p><input type="password" name="user[password]" placeholder="password"/></p>
  <input type="submit" value="Create User"/>
</form>
