<div class="survey-container">
  <h2 class="header">Create a Survey!</h2>

  <form action="/surveys" method="POST">
    <p>Title</p>
      <input type='text' name='survey[title]' placeholder='Title for Survey'>
    <p>Description</p>
      <input type='text' name='survey[description]' placeholder='Description of Survey'>
    <p>Question</p>
    <textarea rows="5" cols="22" name="question" placeholder="Question"></textarea>
    <p>Choices</p>
    <ol text-align='left'>
    <li><input type="text" name="choice[1]" placeholder="Answer 1"></li>
    <li><input type="text" name="choice[2]" placeholder="Answer 2"></li>
    <li><input type="text" name="choice[3]" placeholder="Answer 3"></li>
    </ol>
    <input id="create-button" type="submit" value="Create!">
  </form>
</div>


