  <!-- CREATE NEW SURVEY -->
  <p id="create-survey"><a href="surveys/new">Create a new Survey</a></p>

  <!-- SHOW ALL SURVEYS -->
  <% @surveys.each do |survey| %>
    <a href="/surveys/<%= survey.id %>"><li><%= survey.title %></li></a>
  <% end %>

